.customlogin{
    
    display: block;
    margin: auto;
    margin-top: 10%;
    padding: 3rem;
    padding-top: 0%;
    background-color: gainsboro;
    border-radius: 10px;
    box-shadow: 10px 10px 5px black;
}
.myblock{
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
  
}
.customlabel{
    display: block;
    text-align: left;
    margin-left:20%;
  
    
}
 input.customcontrol{
    display: block;
    
    width: 70%;
    
}