.midsection{
    padding: 1rem;
}
.customimg{
    height: 400px;
    width: 500px;
}
.maintitle{
    display: block;
    margin-top: 10%;
    text-align: center;
}
.blockquote{
    display: block;
    margin: auto;
    text-align: center;
}
/* css for the trending books cards */
.container-fluid cards{
	margin-top: 8%;
}
.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}

.card-body{
	background-color: #2f2f2f
}

.card-title{
	color: #fff;
	text-shadow: 0 0 2px #fff;
}
.card-text{
	color: #fff;
}	